[submodule "wallpapers"]
	path = wallpapers
	url = git@github.com:yawkat/wallpapers.git
[submodule "run"]
	path = run
	url = git@github.com:yawkat/run.git
[submodule "screenshot"]
	path = screenshot
	url = git@github.com:yawkat/screenshot-python.git
